@font-face{
	font-family: 'MuseoSansCyrl';
	src: url('./fonts/MuseoSansCyrl_0.otf');
	font-weight: 300;
	font-style: normal;
}
@font-face{
	font-family: 'MuseoSansCyrl';
	src: url('./fonts/MuseoSansCyrl_2.otf');
	font-weight: 700;
	font-style: normal;
}
body {
    font-family: "MuseoSansCyrl", sans-serif;
    font-size: 14px;
    font-weight: 300;
    display: flex;
    flex-direction: column;
	line-height: 1.3;
}
a {
	text-decoration: none;
	color: #000;
}
ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.grid-container {
	max-width: 1200px;
}
/* header */
header {

}
.header_top {
	padding-top: 15px;
	padding-bottom: 15px;
}
.header_bottom {
	background-color: #019839;
}
.header_info {
    padding-top: 15px;
    display: flex;
}
.info_top {
	color: #aaaaaa;
}
.info_bottom {
	font-weight: 700;
	font-size: 18px;
}
.info_inner {
    display: flex;
    flex-wrap: wrap;
    height: 45px;
}
.header_button {
	padding-top: 20px;
}
.header_callme {
    padding: 8px 24px;
    border: 1px solid #00ac49;
    border-radius: 25px;
    color: #019839;
    display: inline-block;
    float: right;
}
/* header bottom */
.links {
    display: flex;
    flex-wrap: wrap;
}
.links li a {
    padding: 24px;
    display: flex;
    color: #fff;
    font-weight: 700;
    font-size: 15px;
}
.greedy {
	position: relative;
    display: flex;
    align-items: center;
}
ul.links {
    display: flex;
    flex: 1;
    overflow: hidden;
}
nav.topmenu button.hidden {
    transition: none;
    border-right: 0.5rem solid #b6b6b6;
    width: 0;
    padding: 0;
    overflow: hidden;
    display: none;
}
nav.topmenu button {
    align-self: stretch;
    transition: all .4s ease-out;
    padding: 0 1rem 0 1.5rem;
    outline: 0;
    border: 0;
    font-size: 2rem;
    font-weight: bold;
    color: #00467f;
    vertical-align: middle;
    line-height: 1;
    position: relative;
    top: -8px;
}
ul.hidden-links.hidden {
    display: none;
}
ul.hidden-links {
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 1111;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: none;
    -webkit-box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.06), 0 3px 14px 2px rgba(0, 0, 0, 0.04), 0 5px 5px -3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.06), 0 3px 14px 2px rgba(0, 0, 0, 0.04), 0 5px 5px -3px rgba(0, 0, 0, 0.1);
}
.loop {
    padding: 9px 12px;
    background-color: #008331;
    border-radius: 50%;
}
.loop img {
}
/* main */
#main_bg {
    background-image: url(img/main.jpg);
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    min-height: 700px;
    background-size: cover;
    background-position: center;
}
.main_inner {
	padding-top: 100px;
}
.main_content {
	text-align: center;
}
.main_content h1 {
    color: #fff;
    font-weight: 300;
    font-size: 48px;
    margin-bottom: 84px;
}
.main_button {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}
.button_green {
    background-color: #019839;
    color: #fff;
    border-radius: 26px;
    padding: 16px 34px;
    margin-right: 20px;
    font-weight: 700;
	font-size: 15px;
}
.button_white {
	color: #fff;
	border-radius: 26px;
    padding: 16px 34px;
	border: 1px solid #fff;
	display: flex;
	font-weight: 700;
	font-size: 15px;
}
.button_white img {
    padding-right: 20px;
}
.main_bottom {
	padding-top: 180px;
}
.main_bottom_content {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
.main_bottom_content span {
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
    padding-left: 18px;
}
